@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS here */

@plugin "daisyui";


.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.bg-gradient-animation {
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #0f0c29, #302b63, #24243e);
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Section spacing for fixed navbar */
section {
  scroll-margin-top: 80px;
}


html {
  scrollbar-width: thin !important;
  scrollbar-color: #2D153C #03050A !important;
  
}

.custom-class {
  position: relative; /* ensure border is on top */
}

